<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Chamado</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/Forms.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>

    <header class="top-bar">
        <a href="#" class="back-link">
            <span class="arrow-icon">←</span>
            voltar
        </a>
    </header>
 
    <main class="container">
        <section class="card"> 
            <h2>Novo Chamado</h2>
            <form action="#" method="post">
                <div class="form-group">
                    <label for="descricao">Contestação:</label>
                    <textarea id="descricao" name="descricao" rows="4" placeholder="A prioridade correta é ... porque..." required></textarea>
                </div>
                <div class="form-actions">
                    <button type="submit" id="avancar" class="back-button">cancelar</button>
                </div>
                <div class="form-actions">
                    <button type="submit" id="avancar" class="submit-button">Avançar</button>
                </div>
                
            </form>
        </section>
    </main>

    <!-- Script unificado do sistema multi-etapas -->
    <script src="/static/RegistrarChamados.js"></script>

</body>
</html>
