<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | InterFix</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://kit.fontawesome.com/d6b6410536.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="/static/login.js" defer></script>
</head>
<body>
    <main class="container">
        <form class="login-box">
            <div class="login-form">
                <h1>Tela de Login</h1>
                <p><strong>Seja bem vindo(a) novamente!</strong> Faça login para acessar sua conta e poder fazer as configurações no seu ambiente.</p>
                <p class="input-group">
                    <span class="icon"><none class="fa-solid fa-user"></none></span>
                    <input type="email" placeholder="Digite seu e-mail">
                </p>
                <p class="input-group">
                    <span class="icon"><none class="fa-solid fa-key"></none></span>
                    <input type="password" placeholder="Digite sua senha">
                </p>
                <button>Entrar</button>
                <a href="#" class="forgot">Esqueci a senha</a>
            </div>
            <picture class="login-logo">
                <img src="/static/img/logo.png" alt="InterFix Logo">
                <img src="/static/img/logotipo-bg.png" alt="InterFix">
            </picture>
        </form>
    </main>
</body>
</html>
